
{{#if clickAddComment}}
<div >
  <h3>Add a Comment: </h3><h3><small>Comments are strongly moderated</small></h3>
  <form id="newComment">
    <div class="form-group">
      <label for="user">Username:</label>
      {{input class="form-control" value=user id="user"}}
    </div>
    <div class="form-group">
      <label for="words">Comment:</label>
      {{textarea rows=4 class="form-control" value=words id="words"}}
    </div>
    <button class="btn btn-lg btn-default btn-success" {{action "submitComment"}}>Submit Comment</button>
  </form>
</div>
{{else}}
<button class="btn btn-lg btn-default" {{action "clickAddComment"}}>Add Comment</button>
{{/if}}
